In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
data=pd.read_csv(r'E:\data sets\data.csv')

In [3]:
data.head(4)

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,Forrest Gump,movie,"Drama, Romance",1994.0,tt0109830,8.8,2314448.0,MX
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",1997.0,tt0119116,7.6,516698.0,"AT, CH, DE"
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",2003.0,tt0266697,8.2,1220954.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM..."
3,Jarhead,movie,"Biography, Drama, War",2005.0,tt0418763,7.0,211394.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BE, BG..."

In [4]:
data.shape

(15860, 8)

In [5]:
data.describe()

        releaseYear  imdbAverageRating  imdbNumVotes
count  15848.000000       15135.000000  1.513500e+04
mean    2010.643362           6.491530  3.880644e+04
std       15.307278           1.059803  1.336447e+05
min     1913.000000           1.200000  5.000000e+00
25%     2008.000000           5.900000  4.270000e+02
50%     2016.000000           6.600000  2.094000e+03
75%     2019.000000           7.200000  1.515200e+04
max     2024.000000           9.500000  2.957474e+06

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15860 entries, 0 to 15859
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               15362 non-null  object
 1   type                15860 non-null  object
 2   genres              15713 non-null  object
 3   releaseYear         15848 non-null  float64
 4   imdbId              15180 non-null  object
 5   imdbAverageRating   15135 non-null  float64
 6   imdbNumVotes        15135 non-null  float64
 7   availableCountries  15860 non-null  object
dtypes: float64(3), object(5)
memory usage: 991.4+ KB

In [7]:
data1=data.isnull()
data1

,title,type,genres,releaseYear,imdbId,imdbAverageRating,imdbNumVotes,availableCountries
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
15855,True,False,False,True,True,True,True,False
15856,True,False,True,False,True,True,True,False
15857,True,False,True,False,True,True,True,False
15858,True,False,True,True,True,True,True,False
15859,False,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

title                 498
type                    0
genres                147
releaseYear            12
imdbId                680
imdbAverageRating     725
imdbNumVotes          725
availableCountries      0
dtype: int64

In [22]:
#top 10 highest rating movies
highest_rating_movies=data[data['type']=='movies'].nlargest(10,'imdbAverageRating')[['title','imdbAverageRating']]
print('top 10 highest rating movies are\n', highest_rating_movies)

top 10 highest rating movies are
 Empty DataFrame
Columns: [title, imdbAverageRating]
Index: []

In [28]:
#count values
count_values=data.value_counts()
print("counted values are\n",count_values)

counted values are
 title                         type   genres                       releaseYear  imdbId      imdbAverageRating  imdbNumVotes  availableCountries
#Alive                        movie  Action, Drama, Horror        2020.0       tt10620868  6.3                49651.0       AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH, BM, BO, BR, BS, BY, BZ, CA, CH, CI, CL, CM, CO, CR, CU, CV, CY, CZ, DE, DK, DO, DZ, EC, EE, EG, ES, FI, FJ, FR, GB, GF, GG, GH, GI, GQ, GR, GT, HK, HN, HR, HU, ID, IE, IL, IN, IQ, IS, IT, JM, JO, JP, KE, KR, KW, LB, LC, LI, LT, LU, LV, LY, MA, MC, MD, ME, MG, MK, ML, MT, MU, MX, MY, MZ, NE, NG, NI, NL, NO, NZ, OM, PA, PE, PF, PH, PK, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SM, SN, SV, TC, TH, TN, TR, TT, TW, TZ, UA, UG, US, UY, VE, YE, ZA, ZM, ZW    1
School of Rock                movie  Comedy, Music                2003.0       tt0332379   7.2                338144.0      AZ, BY, JP, LT, LV, UA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    1
Scavengers Reign              tv     Adventure, Animation, Drama  2023.0       tt21056886  8.6                23771.0       BM, GB, GG, GI, IE, NZ, TC, US                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Scenes from a Celebrity Life  movie  Comedy                       2009.0       tt1450669   4.6                126.0         AT, BE, BG, CH, CZ, DE, EE, ES, FR, GB, GF, GI, GR, HR, HU, IS, IT, LI, LT, LU, LV, MT, NL, PF, PL, PT, RO, SI, SK                                                                                                                                                                                                                                                                                                                                                                                                                        1
Scenes from a Marriage        movie  Drama                        1974.0       tt6725014   8.3                9089.0        FI, NO, SE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     ..
Hi5teria                      movie  Horror, Mystery              2012.0       tt2251820   5.9                114.0         ID                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Hibana                        tv     Drama                        2016.0       tt5301958   7.7                1132.0        AD, AE, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH, BM, BO, BR, BY, BZ, CA, CH, CI, CL, CM, CO, CR, CU, CV, CY, DE, DK, DO, DZ, EC, EE, EG, ES, FI, FJ, FR, GB, GF, GG, GH, GI, GQ, GR, GT, HK, HN, IE, IL, IN, IQ, IS, IT, JM, JO, JP, KE, KR, KW, LB, LC, LI, LT, LU, LV, LY, MA, MC, MD, ME, MG, MK, ML, MT, MU, MX, MZ, NE, NG, NI, NL, NO, NZ, OM, PA, PE, PF, PH, PK, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SM, SN, SV, TH, TN, TR, TT, TW, TZ, UG, US, UY, VE, YE, ZA, ZM, ZW                                        1
Hibou                         movie  Comedy                       2016.0       tt5058358   4.9                220.0         KR                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Hidden Identity               movie  Crime, Drama                 2015.0       tt4871736   5.0                40.0          AL, AT, BA, BG, CH, CZ, DE, EE, GR, HR, HU, IS, LT, LV, MD, ME, MK, NL, NO, PT, RO, RS, SE, SI, SK                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Ödipussi                      movie  Comedy, Romance              1988.0       tt0094407   7.4                4396.0        AT, CH, DE, LI                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Name: count, Length: 15135, dtype: int64

In [30]:
value_counts_of_types=data['type'].value_counts()
print("value counts of types are\n",value_counts_of_types)

value counts of types are
 type
movie    11249
tv        4611
Name: count, dtype: int64

In [32]:
#average rating of each genre
average_rating_of_genres=data.groupby('genres')['imdbAverageRating'].mean().sort_values(ascending=False)
print("average_rating_of_genres are\n",average_rating_of_genres)

average_rating_of_genres are
 genres
Documentary, Family, Reality-TV    9.1
Comedy, Game-Show                  9.0
Adventure, Sport, Talk-Show        8.7
Family, Talk-Show                  8.7
Family, Music, Reality-TV          8.6
                                  ...
Soap, Drama                        NaN
Talk                               NaN
Talk, Reality                      NaN
Thriller, Drama                    NaN
Thriller, Horror                   NaN
Name: imdbAverageRating, Length: 726, dtype: float64

In [36]:
#most common genre in each country
most_common_genres_in_each_country=data.groupby(["availableCountries","genres"]).size().groupby(level=0).idxmax()
print("most common genres in each country are\n",most_common_genres_in_each_country)

most common genres in each country are
 availableCountries
AD                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           (AD, Action, Adventure, Biography)
AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH, BM, BO, BR, BS, BY, BZ, CA, CH, CI, CL, CM, CO, CR, CU, CV, CY, CZ, DE, DK, DO, DZ, EC, EE, EG, ES, FI, FJ, FR, GB, GF, GG, GH, GI, GQ, GR, GT, HK, HN, HR, HU, ID, IE, IL, IN, IQ, IS, IT, JM, JO, JP, KE, KR, KW, LB, LC, LI, LT, LU, LV, LY, MA, MC, MD, ME, MG, MK, ML, MT, MU, MX, MY, MZ, NE, NG, NI, NL, NO, NZ, OM, PA, PE, PF, PH, PK, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SM, SN, SV, TC, TD, TH, TN, TR, TT, TW, TZ, UA, UG, US, UY, VE, YE, ZA, ZM, ZW    (AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, B...
AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH, BM, BO, BR, BS, BY, BZ, CA, CH, CI, CL, CM, CO, CR, CU, CV, CY, CZ, DE, DK, DO, DZ, EC, EE, EG, ES, FI, FJ, FR, GB, GF, GG, GH, GI, GQ, GR, GT, HK, HN, HR, HU, ID, IE, IL, IN, IQ, IS, IT, JM, JO, JP, KE, KR, KW, LB, LC, LI, LT, LU, LV, LY, MA, MC, MD, ME, MG, MK, ML, MT, MU, MX, MY, MZ, NE, NG, NI, NL, NO, NZ, OM, PA, PE, PF, PH, PK, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SM, SN, SV, TC, TD, TH, TN, TR, TT, TW, TZ, UA, UG, UY, VE, YE, ZA, ZM, ZW        (AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, B...
AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH, BM, BO, BR, BS, BY, BZ, CA, CH, CI, CL, CM, CO, CR, CU, CV, CY, CZ, DE, DK, DO, DZ, EC, EE, EG, ES, FI, FJ, FR, GB, GF, GG, GH, GI, GQ, GR, GT, HK, HN, HR, HU, ID, IE, IL, IN, IQ, IS, IT, JM, JO, JP, KE, KR, KW, LB, LC, LI, LT, LU, LV, LY, MA, MC, MD, ME, MG, MK, ML, MT, MU, MX, MY, MZ, NE, NG, NI, NL, NO, NZ, OM, PA, PE, PF, PH, PK, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SM, SN, SV, TC, TD, TH, TN, TR, TT, TW, TZ, UG, US, UY, VE, YE, ZA, ZM, ZW        (AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, B...
AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, BE, BG, BH, BM, BO, BR, BS, BY, BZ, CA, CH, CI, CL, CM, CO, CR, CU, CV, CY, CZ, DE, DK, DO, DZ, EC, EE, EG, ES, FI, FJ, FR, GB, GF, GG, GH, GI, GQ, GR, GT, HK, HN, HR, HU, ID, IE, IL, IN, IQ, IS, IT, JM, JO, JP, KE, KR, KW, LB, LC, LI, LT, LU, LV, LY, MA, MC, MD, ME, MG, MK, ML, MT, MU, MX, MY, MZ, NE, NG, NI, NL, NO, NZ, OM, PA, PE, PF, PH, PK, PL, PS, PT, PY, QA, RO, RS, SA, SC, SE, SG, SI, SK, SM, SN, SV, TC, TH, TN, TR, TT, TW, TZ, UA, UG, US, UY, VE, YE, ZA, ZM, ZW        (AD, AE, AG, AL, AO, AR, AT, AU, AZ, BA, BB, B...
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
TW                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  (TW, Drama)
TW, ZA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  (TW, ZA, Comedy, Drama)
TZ                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 (TZ, Comedy, Drama, Romance)
UA                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 (UA, Comedy)
US                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 (US, Comedy)
Length: 5027, dtype: object

In [ ]:
#top 5 most voted titles
top_five_most_voted_titles=data.nlargest(5,"imdbNumVotes")[["title","imdbNumVotes"]]
print("most voted titles\n",top_five_most_voted_titles